*{
    box-sizing: border-box;
}
html, body{
    margin: 0;
    height: 100%;
}
body{
    display: flex;
    flex-direction: column;
}
header{
    text-align: center;
}
header h1{
    margin-bottom: 0;
}
header p{
    margin-top: 0;
}
main{
    flex-grow: 1;
    align-self: stretch;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    display: flex;
    flex-direction: row-reverse;
}
#painting-area{
    width: 400px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #888;
    box-sizing: content-box;
}
#painting-area div{
    min-width: 8px;
    min-height: 8px;
    box-sizing: border-box;
}

footer{
    text-align: center;
}
.controls{
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
input{
    height: 30px;
}